@model SimpleShop.Models.ViewModels.CheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
}


<div class="container py-5">

    <h2 class="mb-4">
        🛍 Checkout
    </h2>


    <form asp-action="Index"
          method="post">


        <div class="mb-3">

            <label class="form-label">
                Full Name
            </label>

            <input asp-for="CustomerName"
                   class="form-control" />

        </div>



        <div class="mb-3">

            <label class="form-label">
                Phone Number
            </label>

            <input asp-for="PhoneNumber"
                   class="form-control" />

        </div>



        <div class="mb-3">

            <label class="form-label">
                Address
            </label>

            <textarea asp-for="Address"
                      class="form-control"
                      rows="4">
            </textarea>

        </div>



        <button type="submit"
                class="btn btn-danger btn-lg">

            Confirm Order

        </button>


    </form>

</div>