@{
    ViewData["Title"] = "Order Success";
}


<div class="container py-5 text-center">


    <div class="alert alert-success">

        <h2>
            ✅ Order Completed Successfully
        </h2>


        <p class="mt-3">

            Your order number is:

            <strong>
                @ViewBag.OrderId
            </strong>

        </p>


    </div>


    <a asp-controller="Home"
       asp-action="Index"
       class="btn btn-primary">

        Continue Shopping

    </a>


</div>