@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container py-5">

    <h1 class="fw-bold">
        Admin Dashboard
    </h1>

    <hr />

    <div class="alert alert-success">

        Welcome Admin 👋

    </div>

</div>